@import "tailwindcss";

@theme {
  --color-baseColor: #f7852e;
  --color-cardColor: #FDFDFF;
  --color-primaryColor: #E4CC37 ;
  --color-surface: #FDFDFF;
  --color-text-1: #001011;
  --color-text-2: #001011;
  --color-border-1: #2B50AA;
  --color-border-2: #2B50AA;
  --color-primary-1: #fdd6ab;
  --color-primary-2: #fbb876;
  --color-primary-3: #fff7ed;
  --color-primary-4: #fff7ed;


}

/* #a8a8a8 */
@layer base {
  @variant dark {
    --color-base: #EF3E36;
    --color-primary: #7FB069;
    --color-surface: #2E282A;
    --color-text: #FAFFFD;
    --color-border: #81ADC8;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
